extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Treehouse projects I have completed


  article.portfolio-project-thumbs
    .projects-box.box.grid
    
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/images/${project.image_urls[0]}`, alt='')
            h5 #{project.project_name}

