extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Treehouse projects I have completed


  article.portfolio-project-thumbs
    .projects-box.box.grid
    
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/images/${project.image_urls[0]}`, alt='')
            h5 #{project.project_name}

